body{
    background-size: cover;
    position: center;
}

.heading
{
font-size: 25px;
width: 100%;
margin: 0px;
}

#status,#number_of_objects
{
font-size: 18px;
}

canvas{
    box-shadow: 10px 10px 40px grey;
    border-radius: 20px;
    margin-top: 70px;
}


